doctype xml
html
    head
        title Maxime Wojtczak - Lettre de motivation - #{company_name}
        link(href="styles/styles.css", rel="stylesheet")

    body

        div.container

            div.header

                div#introduction

                    div.name
                        h1 Maxime Wojtczak <small> - Ingénieur d'Études et Développement</small>

                    div.contact
                        dl
                            dt Email
                            dd maximewojtczak@laposte.net
                            dt Téléphone
                            dd +33 6 27 09 12 72
                            dt Adresse
                            dd
                                address
                                    div Appartement 212
                                    div 9 rue du Béguinage
                                    div 59000 Lille
                                    div FRANCE
                            dt Nationalité
                            dd Française

            div#cover-letter

                p#subject Objet: #{position}

                p #{name},

                p Je vous écris au sur de l'offre de #{position}.
                  | Je suis un ingénieur d'étude et de développement passionné,
                  | spécialisé dans les technologies Java et Javascript.
                  | Mon expérience ces 10 dernières années m'a amené à :

                ul
                    li Créer, implémenter et diriger des projets dans l'état de
                      | l'art front-end Javascript avec un back-end Java ou
                      | ou Javascript&nbsp;;
                    li Écouter les besoins et retours des clients et utilisateurs
                      | afin de leur fournir de meilleurs outils et
                      | applications&nbsp;;
                    li Assurer la maintenance applicative de ces applications,
                      | dans les domaines des performances et anomalies.

                p En plus de ma profession, ma passion pour le développement
                  | d'applications m'amène à assister aux conférences des
                  | usergroups locaux, ainsi qu'expérimenter avec les
                  | technologies les plus récentes.

                p Travailler pour #{company_name} serait un nouveau challenge,
                  | et suis confiant dans le fait que je puisse vous apporter
                  | l'expertise technique et la valeur ajoutée que vous
                  | recherchez.

                p Vous trouverez ci-joint mon CV. Je reste à votre disposition
                  | pour de plus amples renseignements lors d'un entretien à
                  | votre convenance.

                p Veuillez agréer, Madame, Monsieur, l’expression de mes
                  | sincères salutations.

                p Maxime Wojtczak
