doctype xml
html
    head
        title Maxime Wojtczak - Cover Letter - #{company_name}
        link(href="styles/styles.css", rel="stylesheet")

    body

        div.container

            div.header

                div#introduction

                    div.name
                        h1 Maxime Wojtczak <small> - Senior Software Engineer</small>

                    div.contact
                        dl
                            dt Email
                            dd maximewojtczak@laposte.net
                            dt Phone
                            dd +33 6 27 09 12 72
                            dt Address
                            dd
                                address
                                    div Appartement 212
                                    div 9 rue du Béguinage
                                    div 59000 Lille
                                    div FRANCE
                            dt Nationality
                            dd French

            div#cover-letter

                p#subject Re: #{position}

                p Dear #{name},

                p I am writing in response to the opening for #{position}.
                  | I am a passionate software developer who has a Master Degree
                  | in Software Engineering from Metz University (2006).
                  | My work experience during the last 10 years includes :

                ul
                    li Create, implement and manage state of the art
                      | implementations of Javascript front-end and Java or
                      | Javascript back-end applications;
                    li Listening to users' and clients' needs and feedbacks to
                      | bring better tools and applications;
                    li Help junior developers, or new to front-end developers
                      | to adopt development and structuration good practices;
                    li Provide post-delivery maintenance and troubleshooting,
                      | including performance investigations and anomalous
                      | behaviors.

                p Beside my working experience, my passion for software development
                  | leads me to attend conferences at local usergroups, as well
                  | as experiment with the newest technologies.

                p Working at #{company_name} would be a great challenge, and I
                  | am confident that I can offer the technical background and
                  | problem-solving skills you are seeking.

                p Please, find my résumé attached for your review. I welcome
                  | the chance to speak with you.

                p Thank you in advance for your time and consideration.

                p Sincerely yours,

                p Maxime Wojtczak
